*{
    padding: o;
    margin:0;
    box-sizing: border-box;
    
}



.navbar{
    display: flex;
    justify-content: space-evenly;
    margin:1rem auto;
    width: 100%;
  

    
}

.container{
    display: flex;
}

li{
    list-style-type:none;
    margin: 0 5rem 0 0;
    text-transform: capitalize;
    font-size: 1.3rem;
    color:grey;
    padding: 10px 0 0 0;
    

}

li:hover{
    color: black;
    
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color:black;
 
    width: 10rem;
    padding-bottom: 15px;
}

.nav-button{
    text-transform: capitalize;
    padding: 5px 15px;
    background-color:lightskyblue;
    color: white;
    font-size: 1rem;
    width: max-content;
}
.nav-button:hover{
    background-color: blue;
}

.section-two-column{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 20px;
    margin:100px 200px;


}


h1{
    text-transform: capitalize;
    color: grey;
    word-spacing: .1rem;
    text-align:left ;
    padding: 40px 0 15px 0;
    width: 500px;
    font-size: 50px;
}

span{
   color: black;
   font-weight: 600;
}


p{
    color: grey;
    width: 500px;
    font-size: 20px;
    word-spacing: 2px;
     padding: 0 0 40px 0;
}
.c1-button{
   padding: 10px 20px;
   color: white;
   background-color: blue;
    
}

.exploremore{
    margin: 0 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2{
    margin: 30px 0;
}












