*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
background: linear-gradient(to top, #5c258d, #4389a2); 
}


.navbar{
      margin: 10px 100px 20px  30px ;
}

h1{
    display: inline-block;
    margin: 10px 200px 20px  30px ;
    color: white;
}

li{
    display: inline-block;
    margin:0 20px 0 0;
    color: white ;
    font-size: 20px;
}

.sign-up{
    display: inline-block;
    margin: 0  20px 0 200px;
}

.specli {
    border: 2px white solid;
    padding: 5px 15px;
    border-radius: 15px;
}

li:hover{
    cursor: pointer;
    color: lightskyblue;
}

.specli:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.main{
    margin: 200px 30px 20px 30px ;
    display: flex;
    width: 1500px;
    /* flex-direction: row; */
}
h2{
    font-size: 60px;
    color: white;
    margin: 0 0 30px 0;
    display: inline-block;
}

p{
  
    font-size:25px;
    color: white;
    line-height: 1.8;
    max-width: 700px;
   letter-spacing: 0.5px;
   margin: 0 0 30px 0;
   /* display: inline-block; */
}

.option{
    margin: 0 0 0 30px;
}

.option  .bcolor{
      background-color: rgb(24, 227, 227);
      color: white;
      font-size: 20px;
      font-weight: 600;
      padding: 10px 20px;
}

.option .border{
        border: 2px white solid;
       padding: 10px 20px;
       font-size: 20px;
      font-weight: 500;
      border-radius: 10px;
}

.option .bcolor:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


.image{
    display: inline-block;
}

.image img{
    max-width: 350px;;
    border-radius: 20px;
    margin-left: 100px;
    filter:drop-shadow(0 0 10px white ) ;
    
}









